@page
@model MRLserver.MRLs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MRLclass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MRLclass.UID" class="control-label"></label>
                <input asp-for="MRLclass.UID" class="form-control" />
                <span asp-validation-for="MRLclass.UID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLclass.telepitesHelye" class="control-label"></label>
                <input asp-for="MRLclass.telepitesHelye" class="form-control" />
                <span asp-validation-for="MRLclass.telepitesHelye" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLclass.telepitestVegezte" class="control-label"></label>
                <input asp-for="MRLclass.telepitestVegezte" class="form-control" />
                <span asp-validation-for="MRLclass.telepitestVegezte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLclass.telepitesPozicioja" class="control-label"></label>
                <input asp-for="MRLclass.telepitesPozicioja" class="form-control" />
                <span asp-validation-for="MRLclass.telepitesPozicioja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLclass.karbantarto" class="control-label"></label>
                <input asp-for="MRLclass.karbantarto" class="form-control" />
                <span asp-validation-for="MRLclass.karbantarto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLclass.telepitesIdeje" class="control-label"></label>
                <input asp-for="MRLclass.telepitesIdeje" class="form-control" />
                <span asp-validation-for="MRLclass.telepitesIdeje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLclass.utolsoKarbantartasIdeje" class="control-label"></label>
                <input asp-for="MRLclass.utolsoKarbantartasIdeje" class="form-control" />
                <span asp-validation-for="MRLclass.utolsoKarbantartasIdeje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLclass.kovetkezoKarbantartas" class="control-label"></label>
                <input asp-for="MRLclass.kovetkezoKarbantartas" class="form-control" />
                <span asp-validation-for="MRLclass.kovetkezoKarbantartas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLclass.utolsoKapcsolataLifttel" class="control-label"></label>
                <input asp-for="MRLclass.utolsoKapcsolataLifttel" class="form-control" />
                <span asp-validation-for="MRLclass.utolsoKapcsolataLifttel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
