@page
@model MRLserver.MRLs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MRLmodel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MRLmodel.ID" />
            <div class="form-group">
                <label asp-for="MRLmodel.UID" class="control-label"></label>
                <input asp-for="MRLmodel.UID" class="form-control" />
                <span asp-validation-for="MRLmodel.UID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLmodel.telepitesHelye" class="control-label"></label>
                <input asp-for="MRLmodel.telepitesHelye" class="form-control" />
                <span asp-validation-for="MRLmodel.telepitesHelye" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLmodel.telepitestVegezte" class="control-label"></label>
                <input asp-for="MRLmodel.telepitestVegezte" class="form-control" />
                <span asp-validation-for="MRLmodel.telepitestVegezte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLmodel.telepitesPozicioja" class="control-label"></label>
                <input asp-for="MRLmodel.telepitesPozicioja" class="form-control" />
                <span asp-validation-for="MRLmodel.telepitesPozicioja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLmodel.karbantarto" class="control-label"></label>
                <input asp-for="MRLmodel.karbantarto" class="form-control" />
                <span asp-validation-for="MRLmodel.karbantarto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLmodel.telepitesIdeje" class="control-label"></label>
                <input asp-for="MRLmodel.telepitesIdeje" class="form-control" />
                <span asp-validation-for="MRLmodel.telepitesIdeje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLmodel.utolsoKarbantartasIdeje" class="control-label"></label>
                <input asp-for="MRLmodel.utolsoKarbantartasIdeje" class="form-control" />
                <span asp-validation-for="MRLmodel.utolsoKarbantartasIdeje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLmodel.kovetkezoKarbantartas" class="control-label"></label>
                <input asp-for="MRLmodel.kovetkezoKarbantartas" class="form-control" />
                <span asp-validation-for="MRLmodel.kovetkezoKarbantartas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRLmodel.utolsoKapcsolataLifttel" class="control-label"></label>
                <input asp-for="MRLmodel.utolsoKapcsolataLifttel" class="form-control" />
                <span asp-validation-for="MRLmodel.utolsoKapcsolataLifttel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
