<!DOCTYPE html>

<!-- _Sidebar.cshtml -->
<div class="sidebar bg-lightblue">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Page("/Index")">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Page("/sendToFloor")">Küldés emeletre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Page("/otherPage")">Other Page</a>
        </li>
    </ul>
</div>
